.Mobile-span-icon{
  margin-bottom: 0.4rem;
  @media (max-width:350px){
    width:15px
  }
}

.active{
  background-color: #E3562A;
  color:#FFFF;
  
}

.view{
  right: 0px !important;
  transition: right 0.5s;
}

.isopen{
  @media (max-width:1024px){
    display: none !important;
  }
}

.activities-active{
@media (min-width:640px) {
  background: #FFFFFF;
border-radius: 5px;
width: 178px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
color: #3C3A36;
padding:0.9rem 3.5rem;
}

}

.user-active{
background: #5BA092 !important;
color:white !important;
}

.page-active{
width: 51px;
height: 51px;
background: #E3562A;
box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.14);
border-radius: 22px;

}